In [1]:
%run ~/relmapping/annot/notebooks/__init__.ipynb

/mnt/home3/jj374/anaconda36/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

os.getcwd(): /mnt/b2/scratch/ahringer/jj374/lab/relmapping

In [2]:
# Emb DHSs
#!cd ~/relmapping/wget; wget -m --no-parent ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE97nnn/GSE97425/suppl/GSE97425_embryo.ce10.allDHS.bed.gz
# L1 DHSs
#!cd ~/relmapping/wget; wget -m --no-parent ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE97nnn/GSE97425/suppl/GSE97425_L1.ce10.allDHS.bed.gz

In [3]:
fp_ = 'wget/ftp.ncbi.nlm.nih.gov/geo/series/GSE97nnn/GSE97425/suppl/GSE97425_embryo.ce10.allDHS.bed.gz'
df_ = pd.read_csv(fp_, sep='\t', names=yp.NAMES_BED9[:4])
df_[yp.NAMES_BED3].to_csv('annot/FigA_atac_screen_shot/Ho2017_embryo.bed', header=None, index=None, sep='\t')
!wc -l annot/FigA_atac_screen_shot/Ho2017_embryo.bed
df_.head()

41825 annot/FigA_atac_screen_shot/Ho2017_embryo.bed

  chrom  start    end         name
0  chrI   3900   4050  1391.125000
1  chrI   9740   9890   507.437500
2  chrI  11380  11530  1080.578125
3  chrI  13820  13970   149.218750
4  chrI  16920  17070   164.890625

In [4]:
fp_ = 'wget/ftp.ncbi.nlm.nih.gov/geo/series/GSE97nnn/GSE97425/suppl/GSE97425_L1.ce10.allDHS.bed.gz'
df_ = pd.read_csv(fp_, sep='\t', names=yp.NAMES_BED9[:4])
df_[yp.NAMES_BED3].to_csv('annot/FigA_atac_screen_shot/Ho2017_L1_arrest.bed', header=None, index=None, sep='\t')
!wc -l annot/FigA_atac_screen_shot/Ho2017_L1_arrest.bed
df_.head()

23670 annot/FigA_atac_screen_shot/Ho2017_L1_arrest.bed

  chrom  start    end        name
0  chrI   3880   4030  927.546875
1  chrI   9740   9890  173.281250
2  chrI  11380  11530  589.343750
3  chrI  13840  13990  254.109375
4  chrI  22880  23030  534.062500

In [5]:
fp_ = 'annot/FigA_overlaps/bed_files/Daugherty2017_consensus_ATAC.bed'
df_ = pd.read_csv(fp_, sep='\t', comment='#', names=yp.NAMES_BED9)[yp.NAMES_BED3]
df_.to_csv('annot/FigA_atac_screen_shot/Daugherty2017_consensus_ATAC_bed3.bed', header=None, index=None, sep='\t')